---
title: Portfolio
desc:
---

<div class="cover-home">
    <div class="content">
        <h1 class="fade">{{ site.title }}</h1>
        <div class="type-wrap">
            <div id="typed-strings">
                {% for typed in site.typeds %}
                <h2 class="fade">{{ typed }}</h2>
                {% endfor %}
            </div>
            <span id="typed" style="white-space:pre;" class="fade"></span>
        </div>
    </div>

    <div class="arrow">
        <i class="fas fa-chevron-down"></i>
    </div>
</div>

<div class="list-projects">
    {% assign projects = site.projects | sort: "order" %}
    {% for project in projects %}
    <div class="glitch-item fade" onclick="location.href='{{ project.url }}';">
        <div class="glitch glitch-{{ project.order }}">
            <div class="glitch-img" style="background: url(/assets/images/l-{{project.cover}});"></div>
            <div class="glitch-img" style="background: url(/assets/images/l-{{project.cover}});"></div>
            <div class="glitch-img" style="background: url(/assets/images/l-{{project.cover}});"></div>
            <div class="glitch-img" style="background: url(/assets/images/l-{{project.cover}});"></div>
            <div class="glitch-img" style="background: url(/assets/images/l-{{project.cover}});"></div>
        </div>
        <h2 class="glitch-title">{{ project.title }}<span>{{ project.position }}</span></h2>
    </div>
    {% endfor %}
</div>