/*============================================================= Colors =============================================================*/

$black: #1B1B1B;
$bg-black: #111111;
$dark-gray: #333333;
$white: #FFF;
$blue: #279AF1;
$gray: #929292;
$light-gray: #BEBEBE;